<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"></meta>
<title th:text="'Event - ' +  ${event.title}">Event</title>
</head>
<body>
	<h6 th:if="${registrationSuccess == true}">Registration successful</h6>
	<h6 th:if="${registrationSuccess == false}">Registration failed</h6>
	<h1 th:text="${event.title}"></h1>
	<p th:text="${event.description}"></p>
	<form name="registerForm" th:action="@{/events/12345/register}"
		method="POST">
		<input type="submit" value="Register"></input>
	</form>
</body>
</html>