<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
<meta th:name="_csrf" th:content="${_csrf.token}" />
<meta th:name="_csrf_header" th:content="${_csrf.headerName}" />
<title>ISU Katie School of Business</title>
<!-- Core CSS - Include with every page -->
<!-- 
<link
	th:href="@{/resources/static/assets/plugins/bootstrap/bootstrap.css}"
	href="../../../resources/assets/plugins/bootstrap/bootstrap.css"
	rel="stylesheet" />
	-->
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
	crossorigin="anonymous" />

<!-- 
<link
	th:href="@{/resources/static/assets/font-awesome/css/font-awesome.css}"
	href="../../../resources/assets/font-awesome/css/font-awesome.css"
	rel="stylesheet" />
	-->
<link
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"
	rel="stylesheet"
	integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1"
	crossorigin="anonymous" />

<!-- 
<link
	th:href="@{/resources/static/assets/plugins/pace/pace-theme-big-counter.css}"
	href="../../../resources/assets/plugins/pace/pace-theme-big-counter.css"
	rel="stylesheet" />
	-->
<link
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"
	rel="stylesheet"
	integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1"
	crossorigin="anonymous" />

<link th:href="@{/resources/css/style.css}"
	href="../../../resources/assets/css/style.css" rel="stylesheet" />

<link th:href="@{/resources/css/custom.css}"
	href="../../../resources/assets/css/custom.css" rel="stylesheet" />

<link th:href="@{/resources/css/main-style.css}"
	href="../../../resources/assets/css/main-style.css" rel="stylesheet" />


<link th:href="@{/resources/css/normalize.css}"
	href="../../../resources/assets/css/normalize.css" rel="stylesheet" />

<link th:href="@{/resources/jquerycal/fullcalendar.css}"
	href='../../../resources/assets/jquerycal/fullcalendar.css'
	rel='stylesheet' />

<link th:href="@{/resources/jquerycal/fullcalendar.print.css}"
	href='../../../resources/assets/jquerycal/fullcalendar.print.css'
	rel='stylesheet' media='print' />

<style>
</style>
</head>
<body>
	<!--  wrapper -->
	<div id="wrapper">
		<!-- navbar top -->
		<nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="navbar">
			<!-- navbar-header -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".sidebar-collapse">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="index.html"> <img
					th:src="@{/resources/img/logo.png}"
					src="../../../resources/assets/img/logo.png" alt="" />
				</a>
			</div>
			<!-- end navbar-header -->
			<!-- navbar-top-links -->
			<ul class="nav navbar-top-links navbar-right">
				<li class="dropdown"><a class="dropdown-toggle"
					data-toggle="dropdown" href="#"> <i class="fa fa-user fa-3x"></i>
				</a> <!-- dropdown user-->
					<ul class="dropdown-menu dropdown-user">
						<li><a href="#"><i class="fa fa-user fa-fw"></i>User
								Profile</a></li>
						<li><a href="#"><i class="fa fa-gear fa-fw"></i>Settings</a>
						</li>
						<li class="divider"></li>
						<li>
							<form th:action="@{/signout}" method="POST">
								<input type="submit" value="Logout"></input>
							</form>
						</li>
					</ul></li>
			</ul>
			<!-- end navbar-top-links -->
		</nav>
		<!-- end navbar top -->

		<!-- navbar side -->
		<nav class="navbar-default navbar-static-side" role="navigation">
			<!-- sidebar-collapse -->
			<div class="sidebar-collapse">
				<!-- side-menu -->
				<ul class="nav" id="side-menu">
					<li>
						<!-- user image section-->
						<div class="user-section">
							<div class="user-section-inner">
								<img th:src="@{/resources/img/reggiehead.png}"
									src="../../../resources/assets/img/reggiehead.png" alt="" />
							</div>
							<div class="user-info">
								<button class="btn btn-default nav-button" type="button"
									value="logout">Logout</button>
								<!--                                 <div>Reggie <strong>Redbird</strong></div>
 -->
								<div class="user-text-online">
									<span class="user-circle-online btn btn-success btn-circle "></span>&nbsp;Online
								</div>
							</div>
						</div> <!--end user image section-->
					</li>
					<li class="sidebar-search">
						<!-- search section-->
						<div class="input-group custom-search-form">
							<input type="text" class="form-control" placeholder="Search..." />
							<span class="input-group-btn">
								<button class="btn btn-default" type="button">
									<i class="fa fa-search"></i>
								</button>
							</span>
						</div> <!--end search section-->
					</li>
					<li class="selected"><a href="index.html">View Events</a></li>
					<li><a href="/eraApplication/events/registeredevents">Event Check in</a></li>
					<li><a href="attendedevents.html">Attended Events</a></li>
					<li><a href="profile.html">Profile</a></li>
				</ul>
			</div>
		</nav>
		<!-- end navbar side -->
		<!--  page-wrapper -->
		<div id="page-wrapper">

			<div class="row">
				<!-- Page Header -->
				<div class="col-lg-12">
					<h1 class="page-header">Welcome!</h1>
				</div>
				<!--End Page Header -->
			</div>

			<div class="row">
				<!-- Welcome -->
				<div class="col-lg-12">
					<div class="alert alert-info">
						<p>
							<!--  DYNAMIC EVENT COUNT AND USERNAME -->
							Hello <b><span th:text="${principalUsername}">User</span></b>.
							You have <b><span th:text="${eventListSize}">#</span></b>
							upcoming events
						</p>
					</div>
				</div>
				<!--end  Welcome -->
			</div>

			<div id='calendar'></div>
			
		</div>
	</div>
	<!-- 
	<script th:src="@{/resources/static/assets/plugins/jquery-1.10.2.js}"
		src="../../../resources/assets/plugins/jquery-1.10.2.js"></script>
	-->
	<script src="https://code.jquery.com/jquery-2.2.4.min.js"
		integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
		crossorigin="anonymous"></script>

	<script th:src="@{/resources/jquerycal/lib/moment.min.js}"
		src='../../../resources/assets/jquerycal/lib/moment.min.js'></script>

	<script th:src="@{/resources/jquerycal/lib/jquery.min.js}"
		src='../../../resources/assets/jquerycal/lib/jquery.min.js'></script>

	<script th:src="@{/resources/jquerycal/fullcalendar.min.js}"
		src='../../../resources/assets/jquerycal/fullcalendar.min.js'></script>

	<!-- 
	<script
		th:src="@{/resources/static/assets/plugins/bootstrap/bootstrap.min.js}"
		src="../../../resources/assets/plugins/bootstrap/bootstrap.min.js"></script>
		-->
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
		integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
		crossorigin="anonymous"></script>

	<!-- 
	<script
		th:src="@{/resources/static/assets/plugins/metisMenu/jquery.metisMenu.js}"
		src="../../../resources/assets/plugins/metisMenu/jquery.metisMenu.js"></script>
	-->
	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/metisMenu/2.5.2/metisMenu.min.js"></script>

	<!-- 
	<script src="../../../resources/assets/plugins/pace/pace.js"></script>
-->
	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/pace.min.js"></script>


	<script th:src="@{/resources/scripts/siminta.js}"
		src="../../../resources/assets/scripts/siminta.js"></script>




	<script th:inline="javascript">
		/*<![CDATA[*/

		var eventList = [[${eventList}]];
		var registeredEventList = [[${registeredEventList}]];

		console.log(eventList);
		console.log(registeredEventList);

/* 		console.log(eventList + "</br>");
 */		/* console.log(JSON.parse(JSON.stringify(eventList))); */
		
 
 
 function formatEventList() {
		var eventList = [[${eventList}]];
		var eventsCal = [];
	
	 	for(var i = 0; i < eventList.length; i++){
			tmpCal = {};
			tmpCal.id = eventList[i].eventId;
			tmpCal.classId = eventList[i].classId;
			tmpCal.title = eventList[i].title;
			tmpCal.startDate = eventList[i].startDate.substring(0,9);
			tmpCal.startTime = eventList[i].startDate.substring(12,17);
			tmpCal.start = eventList[i].startDate;
			tmpCal.end = eventList[i].endDate;
			tmpCal.desc = eventList[i].description;		
			eventsCal.push(tmpCal);
		    
		}  
 			console.log('here in the eventlist object');
 	 		console.log(JSON.parse(JSON.stringify(eventsCal)));
 	 		return eventsCal;
 } 	
 
 
 
 function formatRegisteredList() {
		var registeredEventList = [[${registeredEventList}]];
		var events = [];
	 	for(var i = 0; i < registeredEventList.length; i++){
			tmpList = {};
			tmpList.eventId = registeredEventList[i].eventId;
			events.push(tmpList);
	 	}
		return events;
}

 
 function addRSVP(checkrsvp, newEventId) {
	 var arrSize = checkrsvp.length;
	 for(var i = 0; i < arrSize; i++) {
		 if(checkrsvp[i] == newEventId) {
			 console.log('ALREADY EXISTS!');
			 return checkrsvp;
		 }
	 }
	 checkrsvp[arrSize] = newEventId;
	 return checkrsvp;
 }
 function removeRSVP(checkrsvp, cancelEventId) {
	 var arrSize = checkrsvp.length;
	 for(var i = 0; i < arrSize; i++) {
		 if(checkrsvp[i] == cancelEventId) {
			 console.log('NOT RSVPD!');
			 array.splice(checkrsvp, i);
			 return checkrsvp;
		 }
	 }	 
	 console.log('NOT RSVPD!');
	 return checkrsvp;
 }
 
		/*]]>*/
	</script>
	<script>
	 function getEvent() {
		$(document).ready(function() {
					
			var eventData = formatEventList();
            var checkrsvp = formatRegisteredList();

			console.log('RSVP CHECK');
			console.log(checkrsvp);
			$('#calendar').fullCalendar({
				header : {
					left : 'prev,next today',
					center : 'title',
					right : 'month,basicWeek,basicDay'
				},
				defaultDate : Date.now(),
				editable : false,
				eventLimit : true, // allow "more" link when too many events
			    events : eventData,
			    eventClick: function(calEvent, jsEvent, view) {
 			    	document.getElementById("eventModal").innerHTML = 
 			    		'<div class="container single-event-container">' +
 			    		'<div class="row"><i class="fa fa-times fa-2x modal-exit" aria-hidden="true" data-dismiss="modal"></i></div>' +
 			    		'<div class="container"><h1 class="page-header">' + calEvent.title + '</h1></div>' +
 			    		'<div class="container">Start: ' + calEvent.startDate + calEvent.startTime + ' to ' + calEvent.end + '</div>' +
 			    		'<div class="container">' + calEvent.desc + '</div>' +
 			    		'<div id="rsvp-to-event" class="container"><button type="button" class="btn bg-primary">RSVP to Event</button></div>'+
 			    		'<div id="rsvp-cancel" class="container"></div></div>';
 			    			    	

 			    
 			    	
 			        console.log('Title: ' + calEvent.title);
 			        console.log('start: ' + calEvent.start);
 			        console.log('end: ' + calEvent.end);

			        console.log('Coordinates: ' + jsEvent.pageX + ',' + jsEvent.pageY);
			        console.log('View: ' + view.name);
			        console.log('Description: ' + calEvent.desc);
			        
			        var token = $("meta[name='_csrf']").attr("content");
		            var header = $("meta[name='_csrf_header']").attr("content");
		            var sum = 0;
		            
		            console.log(calEvent.id);
		            console.log(checkrsvp[0].eventId);
		            console.log('size of checkrsvp: ' + checkrsvp.length);
		          	            
		            
		           /*  $.each( checkrsvp, function( index, value ){
			                if(checkrsvp[index].eventId != calEvent.id || checkrsvp.length == 0){
			                	console.log('IT WORKSS!!!!!');
					            console.log(checkrsvp[index].eventId);

			                	alert('sdfsdf');
	                            document.getElementById("rsvp-to-event").innerHTML = '<button type="button" class="btn bg-primary">RSVP to Event</button>';

			                }
			            }); */
		            
		            
		             		            
		            		$("#rsvp-to-event").on("click",function (e){
				                e.preventDefault(); 
				                
				                $.ajax({type: "POST",
				                      url: "events/register",
				                      data: { classId: calEvent.classId, eventId: calEvent.id },
				                      // Max duration of request
	                                  timeout : 100000,
	                                  // This method is for attaching the CSRF data to the header or else the request will fail
	                                  beforeSend : function(xhr) {
	                                          xhr.setRequestHeader(header, token);
	                                  },
				                      success : function(data) {
	                                      console.log(data);
	                                      document.getElementById("rsvp-to-event").innerHTML = '';
	                                      document.getElementById("rsvp-cancel").innerHTML = 
	                   			    		'<div class="alert alert-success">Your RSVP to this event was Successfully Placed</div>'+
	                     			    	'<button type="button" class="btn bg-danger">Cancel RSVP</button>';
	                              },
	                              // This method will be called when the registration failed
	                              error : function(xhr, ajaxOptions, thrownError) {
	                                      console.log(xhr.status + ": " + thrownError);
	                                      document.getElementById("rsvp-cancel").innerHTML = 
	                     			    		'<div class="alert alert-danger">RSVP Failed</div>';
	                              }     
				               }); 
				                var newEventId = calEvent.id;
				                var addRSVPEvent = addRSVP(checkrsvp, newEventId);                
				                console.log(addRSVPEvent);
				                console.log(addRSVPEvent.size);
	 			            });
		            	
		            		$("#rsvp-cancel").on("click",function (e){
				                e.preventDefault(); 
				                
				                $.ajax({type: "POST",
				                      url: "events/unregister",
				                      data: { eventId: calEvent.id },
				                      // Max duration of request
	                                  timeout : 100000,
	                                  // This method is for attaching the CSRF data to the header or else the request will fail
	                                  beforeSend : function(xhr) {
	                                          xhr.setRequestHeader(header, token);
	                                  },
				                      success : function(data) {
	                                      console.log(data);
	                                      document.getElementById("rsvp-cancel").innerHTML = '';
	                                      document.getElementById("rsvp-to-event").innerHTML = 
	                     			    	'<div class="alert alert-success">Your RSVP to this event was Sucessfully Cancelled</div>'+
	                     			    	'<button type="button" class="btn btn-primary">RSVP To Event</button>';
	                              },
	                              // This method will be called when the registration failed
	                              error : function(xhr, ajaxOptions, thrownError) {
	                                      console.log(xhr.status + ": " + thrownError);
	                                      document.getElementById("rsvp-to-event").innerHTML = 
	                     			    		'<div class="alert alert-danger">Failed To Cancel RSVP</div>';
	                              }     
				               }); 
				                var cancelEventId = calEvent.id;
				                var removeRSVPEvent = removeRSVP(checkrsvp, cancelEventId);                
				                console.log(removeRSVPEvent);
				                console.log(removeRSVPEvent.size);
	 			            });

			            
			        

			        // change the border color just for fun
/* 			        $(this).css('border-color', 'red');	
 */			        
			        	  console.log(calEvent.title);
			        	  $('#eventModal').attr('alt', 'calEvent.id');
			        	  $('#eventModal').modal();
			        	
					return calEvent;
			
			        	/*      var theId = $(this).attr(calEvent.id);
			        	     $('#eventModal').val(theId);	
			        	     return document.getElementById(calEvent.id).value;
 */
			    
			}
				
			});
			
			
		
			$(".fc-content").on("click",function (e) {
				 // jQuery code, event handling callbacks here
				/*    $('#mymapselect option[value="' + this.id + '"]').attr('selected', 'selected');
				 */	
/* 				 alert(eventList[0].title);*/
/* 				 $('#eventModal').modal('toggle');
 */				 });
			
			
	
		});
 }
	 
	</script>	
	
 <!-- 
        <script>
               // Gets the CSRF data from the meta tags
               var token = $("meta[name='_csrf']").attr("content");
               var header = $("meta[name='_csrf_header']").attr("content");
 
               $
                               .ajax({
 
                                      // HTTP method
                                      type : "POST",
 
                                      // Action this request is aiming to
                                      url : "events/register",
 
                                      // Replace the hardcoded values with a variable
                                      data: { classId: "CLBA_CLASS_3", eventId : "eec7bbbb-2886-4680-b784-09c1d0ec1e04"}, 
                                      
                                      // Max duration of request
                                      timeout : 100000,
 
                                      // This method is for attaching the CSRF data to the header or else the request will fail
                                      beforeSend : function(xhr) {
                                              xhr.setRequestHeader(header, token);
                                      },
 
                                      // This method will be called when the registration is successful
                                      success : function(data) {
                                              console.log(data);
                                      },
 
                                      // This method will be called when the registration failed
                                      error : function(xhr, ajaxOptions, thrownError) {
                                              console.log(xhr.status + ": " + thrownError);
                                      }
                               });
        </script> -->
	<!-- Large modal -->
<!-- <button class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Large modal</button>
 -->
<div id="eventModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
<div class="container">

<script>var work = getEvent();</script>
 
	<h1>Event Name</h1>
	<p>Event Day</p>
	<p><span>Event Start Time</span> to <span>Event End Time</span></p>
	<p>Event Location</p>
	<p>Event Description</p>
</div>
    </div>
  </div>
</div>
	
</body>
</html>

